[Desktop Entry]
Type=Application
Categories=Utility
Name=Solo Rock
Comment=Solo Rock
Icon=./solo-rock/solorock.png
Exec=./solo-rock/solo-rock.sh
MimeType=image/jpeg;image/png;
Terminal=true

